NiFi/adserver_demo_loadinitialdata.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>e6a2444c-3e59-196c-0000-000061aa47a2</groupId>
  <name>adserver_demo_loadinitialdata</name>
  <snippet>
    <connections>
      <id>8589917a-63f0-3e42-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>5dc71713-ac17-3d06-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>33e2bdde-4c05-35e5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>8671b94b-9640-39b2-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2019.0434208133586</x>
        <y>1111.1685262326569</y>
      </bends>
      <bends>
        <x>2019.0434208133586</x>
        <y>1161.1685262326569</y>
      </bends>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>399c786a-7b8e-3350-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>399c786a-7b8e-3350-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a2c200e5-824e-39b3-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>da3372d6-1653-3fbc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>c2ff9d7e-c9e5-345c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a2e2f676-2470-3645-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>205133a8-b730-3815-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>5b5811d6-2223-3ce5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a3a949b4-04aa-3e69-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>948a6494-9b4f-33b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>b122543b-2269-30fd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a4d33fb5-9f9b-39aa-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>384df477-cd2c-3a3b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>9c6891a6-d7a1-32ad-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ab9dbfd0-ff9f-3b23-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>b122543b-2269-30fd-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>47c1a778-5bae-35d2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>b54a8f7b-5d84-303f-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>755c998f-671f-3693-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>875262d1-2997-3332-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>c91a38d6-4da9-38e7-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>9c6891a6-d7a1-32ad-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>1c1110fb-f770-3a59-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>cd28b850-db87-332e-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>143795d2-a004-37ee-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>80cbaba9-37ca-3e51-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>ce14cfbb-8a2c-3c17-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>5b5811d6-2223-3ce5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>28966e76-77f2-3f7d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>fe2f9f63-6242-3405-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2460.5382576890433</x>
        <y>385.34879536927303</y>
      </bends>
      <bends>
        <x>2460.5382576890433</x>
        <y>435.34879536927303</y>
      </bends>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>fbfef394-da12-379f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>fbfef394-da12-379f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>07adb62c-ac69-38cc-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>3d7e1ce3-e149-3a4f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>7a6d14c1-5636-31d2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0fd8fd6a-55e1-397a-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>875262d1-2997-3332-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>5dc71713-ac17-3d06-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1721615c-d099-3fbc-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>dbd0babb-b8f8-3d2e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>e487558a-0239-37d3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>2dda519e-1d87-381e-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2383.584306179743</x>
        <y>149.32039871981056</y>
      </bends>
      <bends>
        <x>2383.584306179743</x>
        <y>199.32039871981056</y>
      </bends>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>948a6494-9b4f-33b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>948a6494-9b4f-33b6-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>318e2aee-56f4-36d4-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>80cbaba9-37ca-3e51-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>1641d8e9-4e83-3725-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>36c31854-9c9c-367f-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>7a6d14c1-5636-31d2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>83092b05-9617-3aa3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>46ca588e-564e-3ade-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>3654ea2e-9405-3813-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>384df477-cd2c-3a3b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>4ea0a5d2-135d-341a-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2470.140759127501</x>
        <y>880.8388818154655</y>
      </bends>
      <bends>
        <x>2470.140759127501</x>
        <y>930.8388818154655</y>
      </bends>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>6ade3c7e-b470-3aa5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>6ade3c7e-b470-3aa5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5672f1b8-4496-3709-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>fbfef394-da12-379f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>3654ea2e-9405-3813-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>5f74a843-927a-306c-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>399c786a-7b8e-3350-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>755c998f-671f-3693-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>619fbb98-86fb-3ec5-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>1641d8e9-4e83-3725-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>61f7b553-ae41-3a38-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6676a924-7758-33cc-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>83092b05-9617-3aa3-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>d6e44166-45bb-3df5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6cf065ab-261b-3161-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>6ade3c7e-b470-3aa5-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>3d7e1ce3-e149-3a4f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6d4326ec-34d6-3dcf-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>2053.9005052910525</x>
        <y>1350.9146817395276</y>
      </bends>
      <bends>
        <x>2053.9005052910525</x>
        <y>1400.9146817395276</y>
      </bends>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>da3372d6-1653-3fbc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>da3372d6-1653-3fbc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>72d03162-1b01-33d7-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>47c1a778-5bae-35d2-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>dbd0babb-b8f8-3d2e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>74b926a6-c62d-3dd2-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>c2ff9d7e-c9e5-345c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>merged</selectedRelationships>
      <source>
        <groupId>626242d0-ce31-3dd5-0000-000000000000</groupId>
        <id>205133a8-b730-3815-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>a9cc0963-a879-34e8-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>schema.registry.url</key>
          <value>
            <name>schema.registry.url</name>
          </value>
        </entry>
      </descriptors>
      <name>SchemaRegistryService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>schema.registry.url</key>
          <value>http://dzaratsian-10.field.hortonworks.com:7788/api/v1</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>com.hortonworks.nifi.registry.SchemaRegistryService</type>
    </controllerServices>
    <controllerServices>
      <id>beee3d80-3ad5-3e86-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-distributed-cache-services-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Server Hostname</key>
          <value>
            <name>Server Hostname</name>
          </value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>
            <name>Server Port</name>
          </value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
          <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
          </value>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>
            <name>Communications Timeout</name>
          </value>
        </entry>
      </descriptors>
      <name>DistributedMapCacheClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Server Hostname</key>
          <value>localhost</value>
        </entry>
        <entry>
          <key>Server Port</key>
          <value>4557</value>
        </entry>
        <entry>
          <key>SSL Context Service</key>
        </entry>
        <entry>
          <key>Communications Timeout</key>
          <value>30 secs</value>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
    </controllerServices>
    <controllerServices>
      <id>c0b2c272-5d21-365e-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-hbase_1_1_2-client-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase_1_1_2_ClientService</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/tmp/dz11/hbase-site.xml,/tmp/dz11/core-site.xml</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>1</value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <processors>
      <id>80cbaba9-37ca-3e51-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1043.8929913833051</x>
        <y>570.4278913445626</y>
      </position>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>schema-registry-service</key>
            <value>
              <identifiesControllerService>com.hortonworks.nifi.registry.SchemaRegistryDelegate</identifiesControllerService>
              <name>schema-registry-service</name>
            </value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>
              <name>schema-name</name>
            </value>
          </entry>
          <entry>
            <key>schema-version</key>
            <value>
              <name>schema-version</name>
            </value>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>
              <name>schema-type</name>
            </value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>
              <name>schema-group</name>
            </value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>
              <name>csv-delimiter</name>
            </value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>
              <name>csv-quote-character</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>schema-registry-service</key>
            <value>9efc73a7-b420-31e9-0000-000000000000</value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>company</value>
          </entry>
          <entry>
            <key>schema-version</key>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>avro</value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>adesrver_group</value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>,</value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>"</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TransformCSVToJsonViaSchemaRegistry</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.hortonworks.nifi.registry.TransformCSVToJsonViaSchemaRegistry</type>
    </processors>
    <processors>
      <id>83092b05-9617-3aa3-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>680.196557438947</x>
        <y>831.414640564948</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>875262d1-2997-3332-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>897.6699056606406</x>
        <y>1076.663037790332</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>30</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>948a6494-9b4f-33b6-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1928.584306179743</x>
        <y>109.32039871981056</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>
              <name>Cache update strategy</name>
            </value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>
              <name>Max cache entry size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${hbase.table}</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>beee3d80-3ad5-3e86-0000-000000000000</value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutDistributedMapCache</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
    </processors>
    <processors>
      <id>9c6891a6-d7a1-32ad-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>617.5651928740698</x>
        <y>371.95647389226167</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>b122543b-2269-30fd-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1460.7443071313726</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

class PyStreamCallback(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    text=text.replace('"}{"userid"','"},\n{"userid"')
    text='{"users":['+text+"]}"
    outputStream.write(bytearray(text.encode('utf-8')))

flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile,PyStreamCallback())
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
  session.transfer(flowFile, REL_SUCCESS)</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteScript</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>c2ff9d7e-c9e5-345c-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1145.9893262823825</x>
        <y>1479.840849840833</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

class PyStreamCallback(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    text=text.replace('"}{"campaignid"','"},\n{"campaignid"')
    text='{"campaigns":['+text+"]}"
    outputStream.write(bytearray(text.encode('utf-8')))

flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile,PyStreamCallback())
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
  session.transfer(flowFile, REL_SUCCESS)</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteScript</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>d6e44166-45bb-3df5-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>231.0042296054089</x>
        <y>826.5323798801849</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/users</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>1 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>da3372d6-1653-3fbc-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1598.9005052910525</x>
        <y>1310.9146817395276</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>
              <name>Cache update strategy</name>
            </value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>
              <name>Max cache entry size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${hbase.table}</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>beee3d80-3ad5-3e86-0000-000000000000</value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutDistributedMapCache</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
    </processors>
    <processors>
      <id>dbd0babb-b8f8-3d2e-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>587.2184080248845</x>
        <y>114.26322760108076</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-shift</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>{
  "row":"userid",
  "cells":{
     "user_info:*":"&amp;(0,1)"
 }
}</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>e487558a-0239-37d3-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>149.23381749529057</x>
        <y>112.70657455325443</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns</key>
            <value>
              <name>Columns</name>
            </value>
          </entry>
          <entry>
            <key>Filter Expression</key>
            <value>
              <name>Filter Expression</name>
            </value>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>
              <name>Initial Time Range</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>user</value>
          </entry>
          <entry>
            <key>Columns</key>
          </entry>
          <entry>
            <key>Filter Expression</key>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>4 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHBase</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.GetHBase</type>
    </processors>
    <processors>
      <id>fbfef394-da12-379f-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>2005.5382576890433</x>
        <y>345.34879536927303</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>campaign</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>campaignid</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>campaign_info</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>143795d2-a004-37ee-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1690.5309399727803</x>
        <y>570.5119330993222</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>company</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>companyid</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>company_info</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>1641d8e9-4e83-3725-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>619.9218212920385</x>
        <y>569.6570125275156</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>1c1110fb-f770-3a59-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>176.54556401514105</x>
        <y>365.54534357859234</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/campaign</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>1 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>205133a8-b730-3815-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>738.4683963883343</x>
        <y>1478.5619490345073</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>200</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>30 seconds</value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>28966e76-77f2-3f7d-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>11.503034795076587</x>
        <y>1302.1647033981667</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns</key>
            <value>
              <name>Columns</name>
            </value>
          </entry>
          <entry>
            <key>Filter Expression</key>
            <value>
              <name>Filter Expression</name>
            </value>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>
              <name>Initial Time Range</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>campaign</value>
          </entry>
          <entry>
            <key>Columns</key>
          </entry>
          <entry>
            <key>Filter Expression</key>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>4 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHBase</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.GetHBase</type>
    </processors>
    <processors>
      <id>33e2bdde-4c05-35e5-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>1072.2825005280147</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Columns</key>
            <value>
              <name>Columns</name>
            </value>
          </entry>
          <entry>
            <key>Filter Expression</key>
            <value>
              <name>Filter Expression</name>
            </value>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>
              <name>Initial Time Range</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>company</value>
          </entry>
          <entry>
            <key>Columns</key>
          </entry>
          <entry>
            <key>Filter Expression</key>
          </entry>
          <entry>
            <key>Initial Time Range</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>3600 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHBase</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.GetHBase</type>
    </processors>
    <processors>
      <id>3654ea2e-9405-3813-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1587.9786760336754</x>
        <y>363.25688756691693</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-modify-overwrite</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
{
        "campaignid":"${UUID()}"
      }
</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>384df477-cd2c-3a3b-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1018.0493634536176</x>
        <y>375.736591906086</y>
      </position>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>schema-registry-service</key>
            <value>
              <identifiesControllerService>com.hortonworks.nifi.registry.SchemaRegistryDelegate</identifiesControllerService>
              <name>schema-registry-service</name>
            </value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>
              <name>schema-name</name>
            </value>
          </entry>
          <entry>
            <key>schema-version</key>
            <value>
              <name>schema-version</name>
            </value>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>
              <name>schema-type</name>
            </value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>
              <name>schema-group</name>
            </value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>
              <name>csv-delimiter</name>
            </value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>
              <name>csv-quote-character</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>schema-registry-service</key>
            <value>a9cc0963-a879-34e8-0000-000000000000</value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>campaign2</value>
          </entry>
          <entry>
            <key>schema-version</key>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>avro</value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>adesrver_group</value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>,</value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>"</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TransformCSVToJsonViaSchemaRegistry</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.hortonworks.nifi.registry.TransformCSVToJsonViaSchemaRegistry</type>
    </processors>
    <processors>
      <id>399c786a-7b8e-3350-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1564.0434208133586</x>
        <y>1071.1685262326569</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>
              <name>Cache Entry Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>
              <name>Cache update strategy</name>
            </value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>
              <name>Max cache entry size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Cache Entry Identifier</key>
            <value>${hbase.table}</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>beee3d80-3ad5-3e86-0000-000000000000</value>
          </entry>
          <entry>
            <key>Cache update strategy</key>
            <value>replace</value>
          </entry>
          <entry>
            <key>Max cache entry size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutDistributedMapCache</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
    </processors>
    <processors>
      <id>3d7e1ce3-e149-3a4f-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1593.0539934164879</x>
        <y>829.4925519345927</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-modify-overwrite</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
{
        "userid":"${UUID()}"
      }
</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>47c1a778-5bae-35d2-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1044.48251954265</x>
        <y>118.26782165443876</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Merge Strategy</key>
            <value>
              <name>Merge Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>
              <name>Merge Format</name>
            </value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>
              <name>Attribute Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
            <value>
              <name>Correlation Attribute Name</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>
              <name>Minimum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>
              <name>Maximum Number of Entries</name>
            </value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>
              <name>Minimum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
            <value>
              <name>Maximum Group Size</name>
            </value>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>
              <name>Max Bin Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>
              <name>Maximum number of Bins</name>
            </value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>
              <name>Delimiter Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Header File</key>
            <value>
              <name>Header File</name>
            </value>
          </entry>
          <entry>
            <key>Footer File</key>
            <value>
              <name>Footer File</name>
            </value>
          </entry>
          <entry>
            <key>Demarcator File</key>
            <value>
              <name>Demarcator File</name>
            </value>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>
              <name>Compression Level</name>
            </value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>
              <name>Keep Path</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Merge Strategy</key>
            <value>Bin-Packing Algorithm</value>
          </entry>
          <entry>
            <key>Merge Format</key>
            <value>Binary Concatenation</value>
          </entry>
          <entry>
            <key>Attribute Strategy</key>
            <value>Keep Only Common Attributes</value>
          </entry>
          <entry>
            <key>Correlation Attribute Name</key>
          </entry>
          <entry>
            <key>Minimum Number of Entries</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Number of Entries</key>
            <value>200</value>
          </entry>
          <entry>
            <key>Minimum Group Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum Group Size</key>
          </entry>
          <entry>
            <key>Max Bin Age</key>
            <value>30 seconds</value>
          </entry>
          <entry>
            <key>Maximum number of Bins</key>
            <value>5</value>
          </entry>
          <entry>
            <key>Delimiter Strategy</key>
            <value>Filename</value>
          </entry>
          <entry>
            <key>Header File</key>
          </entry>
          <entry>
            <key>Footer File</key>
          </entry>
          <entry>
            <key>Demarcator File</key>
          </entry>
          <entry>
            <key>Compression Level</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Keep Path</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MergeContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>merged</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.MergeContent</type>
    </processors>
    <processors>
      <id>5b5811d6-2223-3ce5-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>449.509460651819</x>
        <y>1303.721356445993</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-shift</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>{
  "row":"campaignid",
  "cells":{
     "campaign_info:*":"&amp;(0,1)"
 }
}</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>5dc71713-ac17-3d06-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>440.40579414287527</x>
        <y>1073.839153575841</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>jolt-transform</key>
            <value>
              <name>jolt-transform</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
            <value>
              <name>jolt-custom-class</name>
            </value>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
            <value>
              <name>jolt-custom-modules</name>
            </value>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>
              <name>jolt-spec</name>
            </value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>
              <name>Transform Cache Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>jolt-transform</key>
            <value>jolt-transform-shift</value>
          </entry>
          <entry>
            <key>jolt-custom-class</key>
          </entry>
          <entry>
            <key>jolt-custom-modules</key>
          </entry>
          <entry>
            <key>jolt-spec</key>
            <value>{
  "row":"companyid",
  "cells":{
     "company_info:*":"&amp;(0,1)"
 }
}</value>
          </entry>
          <entry>
            <key>Transform Cache Size</key>
            <value>1</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>JoltTransformJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
    </processors>
    <processors>
      <id>61f7b553-ae41-3a38-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>170.72949345850043</x>
        <y>564.7747518427525</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Input Directory</key>
            <value>
              <name>Input Directory</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter</key>
            <value>
              <name>Path Filter</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>
              <name>Keep Source File</name>
            </value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>
              <name>Recurse Subdirectories</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>
              <name>Ignore Hidden Files</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>
              <name>Minimum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
            <value>
              <name>Maximum File Age</name>
            </value>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>
              <name>Minimum File Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
            <value>
              <name>Maximum File Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Input Directory</key>
            <value>/tmp/company</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>[^\.].*</value>
          </entry>
          <entry>
            <key>Path Filter</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>10</value>
          </entry>
          <entry>
            <key>Keep Source File</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Recurse Subdirectories</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>1 sec</value>
          </entry>
          <entry>
            <key>Ignore Hidden Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Minimum File Age</key>
            <value>0 sec</value>
          </entry>
          <entry>
            <key>Maximum File Age</key>
          </entry>
          <entry>
            <key>Minimum File Size</key>
            <value>0 B</value>
          </entry>
          <entry>
            <key>Maximum File Size</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFile</type>
    </processors>
    <processors>
      <id>6ade3c7e-b470-3aa5-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>2015.140759127501</x>
        <y>840.8388818154655</y>
      </position>
      <bundle>
        <artifact>nifi-hbase-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>c0b2c272-5d21-365e-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>user</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>userid</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>user_info</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
    <processors>
      <id>755c998f-671f-3693-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1211.814491766783</x>
        <y>1244.2295885715912</y>
      </position>
      <bundle>
        <artifact>nifi-scripting-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.2.0.3.0.0.0-292</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Script Engine</key>
            <value>
              <name>Script Engine</name>
            </value>
          </entry>
          <entry>
            <key>Script File</key>
            <value>
              <name>Script File</name>
            </value>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>
              <name>Script Body</name>
            </value>
          </entry>
          <entry>
            <key>Module Directory</key>
            <value>
              <name>Module Directory</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Script Engine</key>
            <value>python</value>
          </entry>
          <entry>
            <key>Script File</key>
          </entry>
          <entry>
            <key>Script Body</key>
            <value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

class PyStreamCallback(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    text=text.replace('"}{"companyid"','"},\n{"companyid"')
    text='{"companies":['+text+"]}"
    outputStream.write(bytearray(text.encode('utf-8')))

flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile,PyStreamCallback())
  flowFile = session.putAttribute(flowFile, "filename", flowFile.getAttribute('filename').split('.')[0]+'_translated.json')
  session.transfer(flowFile, REL_SUCCESS)</value>
          </entry>
          <entry>
            <key>Module Directory</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExecuteScript</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.script.ExecuteScript</type>
    </processors>
    <processors>
      <id>7a6d14c1-5636-31d2-0000-000000000000</id>
      <parentGroupId>626242d0-ce31-3dd5-0000-000000000000</parentGroupId>
      <position>
        <x>1150.1016980360705</x>
        <y>827.4863281582927</y>
      </position>
      <bundle>
        <artifact>nifi-registry-nar</artifact>
        <group>default</group>
        <version>unversioned</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>schema-registry-service</key>
            <value>
              <identifiesControllerService>com.hortonworks.nifi.registry.SchemaRegistryDelegate</identifiesControllerService>
              <name>schema-registry-service</name>
            </value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>
              <name>schema-name</name>
            </value>
          </entry>
          <entry>
            <key>schema-version</key>
            <value>
              <name>schema-version</name>
            </value>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>
              <name>schema-type</name>
            </value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>
              <name>schema-group</name>
            </value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>
              <name>csv-delimiter</name>
            </value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>
              <name>csv-quote-character</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>schema-registry-service</key>
            <value>a9cc0963-a879-34e8-0000-000000000000</value>
          </entry>
          <entry>
            <key>schema-name</key>
            <value>user</value>
          </entry>
          <entry>
            <key>schema-version</key>
          </entry>
          <entry>
            <key>schema-type</key>
            <value>avro</value>
          </entry>
          <entry>
            <key>schema-group</key>
            <value>adserver_group</value>
          </entry>
          <entry>
            <key>csv-delimiter</key>
            <value>;</value>
          </entry>
          <entry>
            <key>csv-quote-character</key>
            <value>"</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TransformCSVToJsonViaSchemaRegistry</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>com.hortonworks.nifi.registry.TransformCSVToJsonViaSchemaRegistry</type>
    </processors>
  </snippet>
  <timestamp>05/26/2017 13:08:09 UTC</timestamp>
</template>